## sql to csv

The perpose of the code below is only to create csv files from sql database we work with. The reason for this transformation is that github not allow us to upload more than 100MB and the sql is ~300MB.

#### General Impotrs:

In [2]:
import sqlite3
import numpy as np
import pandas as pd
import itertools
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

#### Read all DB's:

In [3]:
main_db = sqlite3.connect('databases/database.sqlite')

In [4]:
leagues_db = pd.read_sql("SELECT * FROM League", main_db)
leagues_db.to_csv("databases/sql_leagues_db.csv")
leagues_db.head()

      id  country_id                    name
0      1           1  Belgium Jupiler League
1   1729        1729  England Premier League
2   4769        4769          France Ligue 1
3   7809        7809   Germany 1. Bundesliga
4  10257       10257           Italy Serie A

In [5]:
teams_db = pd.read_sql("SELECT * FROM Team", main_db)
teams_db.to_csv("databases/sql_teams_db.csv")
teams_db.head()

   id  team_api_id  team_fifa_api_id     team_long_name team_short_name
0   1         9987             673.0           KRC Genk             GEN
1   2         9993             675.0       Beerschot AC             BAC
2   3        10000           15005.0   SV Zulte-Waregem             ZUL
3   4         9994            2007.0   Sporting Lokeren             LOK
4   5         9984            1750.0  KSV Cercle Brugge             CEB

In [17]:
all_leagues = dict(zip(list(leagues_db["id"]),list(leagues_db["name"])))

#### Create csv file for each league:

In [28]:
matches_db = {}

for league_id,league_name in all_leagues.items():
    matches_db[league_name]         = pd.read_sql("SELECT * FROM Match where league_id="+str(league_id), main_db)
    matches_db[league_name]["date"] = matches_db[league_name]["date"].apply(lambda x: x.split(" ")[0])
    matches_db[league_name].to_csv("databases/sql_matches_db/"+ league_name.replace(" ","_") + ".csv")

In [29]:
matches_db["England Premier League"].head()

,id,country_id,league_id,season,stage,date,match_api_id,home_team_api_id,away_team_api_id,home_team_goal,...,SJA,VCH,VCD,VCA,GBH,GBD,GBA,BSH,BSD,BSA
0,1729,1729,1729,2008/2009,1,2008-08-17,489042,10260,10261,1,...,10.00,1.28,5.5,12.00,1.30,4.75,10.0,1.29,4.50,11.00
1,1730,1729,1729,2008/2009,1,2008-08-16,489043,9825,8659,1,...,12.00,1.25,6.0,13.00,1.22,5.50,13.0,1.22,5.00,13.00
2,1731,1729,1729,2008/2009,1,2008-08-16,489044,8472,8650,0,...,1.73,5.50,3.8,1.65,5.00,3.40,1.7,4.50,3.40,1.73
3,1732,1729,1729,2008/2009,1,2008-08-16,489045,8654,8528,2,...,3.75,1.90,3.5,4.35,1.91,3.25,4.0,1.91,3.25,3.80
4,1733,1729,1729,2008/2009,1,2008-08-17,489046,10252,8456,4,...,3.75,1.90,3.5,4.35,1.91,3.25,4.0,1.91,3.30,3.75